cicdo-cicd/src/main/mule/cicdo-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5fdf15b6-2293-4415-91a3-56b9e6ec2801" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdo-cicdFlow" doc:id="9e58c4f2-3f03-4850-88f1-792bea59b761" >
		<http:listener doc:name="Listener" doc:id="823f6e89-f974-4656-98d3-92df0c6d3c03" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="54ed30cb-c23f-4088-9e07-8d93cbce4fa4" />
	</flow>
</mule>
